.subnavlink {
    background-color: var(--mantine-color-dark-7);
    border-left: 1px solid var(--mantine-color-gray-7);
    &:hover {
        background-color: var(--mantine-color-dark-5);
        color: var(--mantine-color-gray-0);
    }
}
.boxnav {
    background-color: var(--mantine-color-dark-7);

    &:hover {
        background-color: var(--mantine-color-dark-5);
        color: var(--mantine-color-gray-0);
    }
}

.navlink {
    background-color: var(--mantine-color-dark-8);

    &:hover {
        background-color: var(--mantine-color-dark-5);
        color: var(--mantine-color-gray-0);
    }
}

.activeNavLink {
    background-color: var(--mantine-color-dark-6);
    color: var(--mantine-color-gray-0);
    border-left: 5px solid #1567ff;
}

.activeBox {
    background-color: var(--mantine-color-dark-6);
    /* border-left: 5px solid #1567ff; */
}

.activeSubNavLink {
    background-color: var(--mantine-color-dark-6);
    color: var(--mantine-color-gray-0);
    border-left: 5px solid #1567ff;
}

.boxnav:hover .subnavlink {
    background-color: var(--mantine-color-dark-5);
    color: var(--mantine-color-gray-0);
}
